@charset "ISO-8859-1";

*
{
	margin: 0;
	padding: 0;
	
}

body{
	height: 1500px;
	background-image: linear-gradient(180deg, white, black);
	backgroud-repeat: no-repeat;
}

nav{
	
	position: fixed;
	width: 99%;
	height: 50px;
	background-color: black;
	border-radius: 300px;
	margin-left: 5px;
	margin-top: 5px;
}

ul{
	list-style: none;
	display: inline-block;
	padding: 10px 100px;
}

#left{
	float: left;
}

#right{
	float: right;
	margin-left: 50px;
	margin-right: 30px;
}

#center{
	float: center;
	margin-left: 100px;
}

#searchbox
{
	background: black;
	border: 2px solid white;
	border-radius: 300px;
	width: 150px;
	height: 28px;
	font-size: 23px;
	font-family: 'Amatic SC', cursive;
	color: white;
}


li{
	text-decoration: none;
	display: inline-block;
	color: white;
}

ul li a:hover{
	color: grey;
}

.column {
  position: relative;
  margin-top: 75px;
  float: left;
  font-size: 15px;
  font-family: 'Amatic SC', cursive;
}

.column.left {
	margin-left: 40px;
  width: 25%;
}

.column.right {
	margin-right: 30px;
  width: 25%;
}

.column.middle{
	margin-left: 50px;
  width: 40%;
}




